In [15]:
import sqlite3
from datetime import datetime

db_path = r'./db/data.db'

CREATE TABLE suppliers(
    supplier_id   INTEGER PRIMARY KEY,
    supplier_name TEXT    NOT NULL,
    group_id      INTEGER NOT NULL,
    FOREIGN KEY(group_id)
    REFERENCES supplier_groups(group_id)
)

CREATE TABLE supplier_groups(
	group_id integer PRIMARY KEY,
	group_name text NOT NULL
)

def insertar_cyberpuerta(nombre, url, precio_normal, precio_oferta):  
    fecha_actual = datetime.now().strftime("%Y-%m-%d %H:%M:%S")
    with sqlite3.connect(db_path) as conn:
        cur = conn.cursor()
        cur.execute('''CREATE TABLE IF NOT EXISTS PRODUCTOS
               (PRO_ID INTEGER PRIMARY_KEY UNIQUE, 
               CYB_NOMBRE TEXT, CYB_URL TEXT, CYB_PRECIO_NORMAL REAL, 
               CYB_PRECIO_OFERTA REAL NULL, CYB_FECHA TEXT)''')
        cyb_id = cur.execute("SELECT MAX(CYB_ID) FROM CYBERPUERTA").fetchone()[0] + 1
        cur.execute(
            f"INSERT INTO CYBERPUERTA VALUES ({cyb_id}, '{nombre}', '{url}', {precio_normal}, {precio_oferta}, '{fecha_actual}')")
        for row in cur.execute('SELECT * FROM CYBERPUERTA').fetchall():
            print(row)

insertar_cyberpuerta("wolo", "312313", 1312.43, 123123123.42)

(1, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T22:31:06.807651')
(2, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T22:32:26.173450')
(3, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T22:32:33.651741')
(4, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T22:35:05.780413')
(5, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T22:38:31.652387')
(6, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T22:38:33.607007')
(7, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T22:38:34.130542')
(8, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T22:38:34.572920')
(9, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T22:38:34.943117')
(10, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T23:08:25.981278')
(11, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T23:13:08.585802')
(12, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T23:14:29.454557')
(13, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T23:14:57.252735')
(14, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T23:15:40.737337')
(15, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-01T23:17:28.633746')
(16, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-03T21:28:54.480591')
(17, 'wolo', '312313', 1312.43, 123123123.42, '2022/03/04 22:23:50')
(18, 'wolo', '312313', 1312.43, 123123123.42, '2022-03-04 22:24:09')